{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center m-4">Mes candidatures</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Poste</th>
                <th scope="col">Lieu de travail</th>
                <th scope="col">Description</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Email</th>


            </tr>
            </thead>
            <tbody>
            {% for candidature in candidatures %}
                {% if candidature.isActive == true %}
                <tr class="table-light">
                    <th scope="row">{{ candidature.poste }}</th>
                    <td>{{ candidature.lieuDeTravail }}</td>
                    <td>{{ candidature.description }}</td>
                    <td>{{ candidature.nom }}</td>
                    <td>{{ candidature.prenom }}</td>
                    <td>{{ candidature.candidatEmail }}</td>

                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

