{% extends 'base.html.twig' %}

{% block title %}Votre Compte{% endblock %}

{% block body %}
    <h1 class="text-center m-4">Completer mon profil</h1>

    <div class="container vw-4">
        {{ form_start(form) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.Cv) }}
        <div class="btn btn-success">
            {{ form_row(form.soumettre) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
